@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face {
  font-family: "Comic Mono"
  font-weight: normal
  font-style: normal
  src: url("../lib/comic_mono/ComicMono.ttf")
}

@font-face {
  font-family: Comic Mono
  font-weight: bold
  font-style: normal
  src: url("../lib/comic_mono/ComicMono-Bold.ttf")
}
