@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: "Comic Mono"
  font-weight: 400
  src: url("../lib/comic_mono/ComicMono.ttf") format('truetype')

@font-face
  font-family: "Comic Mono"
  font-weight: 700
  src: url("../lib/comic_mono/ComicMono-Bold.ttf") format('truetype')
  
@font-face
  font-family: 'Fira Code'
  src: url('../lib/fira_code/FiraCode-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Fira Code';
  src: url('../lib/fira_code/FiraCode-Regular.ttf') format('truetype')
  font-weight: 400;
  font-style: normal;


@font-face
  font-family: 'Fira Code'
  src: url('../lib/fira_code/FiraCode-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Fira Code'
  src: url('../lib/fira_code/FiraCode-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Fira Code'
  src: url('../lib/fira_code/FiraCode-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

