<section id="search">
  <div class="intro-text">
    <p>Looking for something specific? Start typing below, and let the magic happen! ✨</p>
  </div>

  <!-- Search Form -->
  <form>
    <input type="text" class="search-input" id="search-input" placeholder="<%= __('search.search') %>">
  </form>

  <!-- Search Results Section -->
  <div id="search-result"></div>

  <!-- No Results Text -->
  <p class="search-no-result"><%= __('search.no_results') %></p>
</section>
